@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@section Header
{
    <link rel="stylesheet" type="text/css" href="~/Content/style/OurTeamStyleSheet.css" />
}
@section BreadCrumb
    {
    <li>
        <a href='@Url.Content("~/Home/")'>Home</a>
    </li>
    <li>
        <a href='@Url.Content("~/Home/OurTeam/")'>Our Team</a>
    </li>
}

<div class="page-content">
    <!--Dev Team (2018-2019)-->
    <div class="row">
        <h1 class="titleStyle">Dev Team (2018-2019)</h1>
        <div class="col-sm-2" style="margin-left:200px;">
                <div class="textOverImage" data-text="Arbab Khan
 BSEF15M004
 Developer, DB Handler & QAE
 PUCIT (OC)">
                    <img class="image" src="@Url.Content("~/images/team/arbab.jpg")" alt="default" />
                </div>
                <div class="row">
                    <div class="col-sm-2" style="margin-left:50px;">
                        <a href="https://www.facebook.com/Arbab.khan.97" class="ace-icon fa fa-facebook bigger-150"></a>
                    </div>
                    <div class="col-sm-2">
                        <a href="https://www.linkedin.com/in/arbab-khan-512331176/" class="ace-icon fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
        <div class="col-sm-2">
            <div class="textOverImage" data-text="Misbah Hassan
 BSEF15M022
 Developer &  QAE
 PUCIT (OC)">
                <img class="image" src="@Url.Content("~/images/team/misbah.jpg")" alt="default" />
            </div>
            <div class="row">
                <div class="col-sm-2" style="margin-left:50px;">
                    <a href="https://www.facebook.com/misbah.hassan.7906" class="ace-icon fa fa-facebook bigger-150"></a>
                </div>
                <div class="col-sm-2">
                    <a href="https://www.linkedin.com/in/misbah-hassan-b61a86176/" class="ace-icon fa fa-linkedin"></a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="textOverImage" data-text="Tehreem Kamran
 BSEF15M025
 Developer and QAE
 PUCIT (OC)">
                <img class="image" style="height:180px" src="@Url.Content("~/images/team/tehreem.jpg")" alt="default" />
            </div>
            <div class="row">
                <div class="col-sm-2" style="margin-left:50px;">
                    <a href="https://www.facebook.com/tehreem.kamran.12" class="ace-icon fa fa-facebook bigger-150"></a>
                </div>
                <div class="col-sm-2">
                    <a href="https://www.linkedin.com/in/tehreem-kamran-744a85176" class="ace-icon fa fa-linkedin"></a>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="textOverImage" data-text="Asma Munir
BSEF15M039
Full Stack Developer
PUCIT (OC)">
                <img class="image" style="height:180px" src="@Url.Content("~/images/team/asma.jpg")" alt="default" />
            </div>
            <div class="row">
                <div class="col-sm-2" style="margin-left:50px;">
                    <a href="https://www.facebook.com/asmamunir6" class="ace-icon fa fa-facebook bigger-150"></a>
                </div>
                <div class="col-sm-2">
                    <a href="https://www.linkedin.com/in/asma-munir-969830176/" class="ace-icon fa fa-linkedin"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Dev Team (2017-2018)-->
<div class="row">
    <h1 class="titleStyle">Dev Team (2017-2018)</h1>
    <div class="col-sm-2" style="margin-left:200px;">
        <div class="textOverImage" data-text="Shameen Arshad
 BSEF14A023
 Developer & QAE
 PUCIT (OC)">
            <img class="image" src="@Url.Content("~/images/team/shameen.jpg")" />
        </div>
        <div class="row">
            <div class="col-sm-2" style="margin-left:50px;">
                <a href="https://www.facebook.com/shameen.rana" class="ace-icon fa fa-facebook bigger-150"></a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.linkedin.com/in/shameen-rana-a49b22154" class="ace-icon fa fa-linkedin"></a>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="textOverImage" data-text="Tayyibah Allaudin
 BSEF14A011
 Developer and QAE
 PUCIT (OC)">
            <img class="image" style="height:180px" src="@Url.Content("~/images/team/tayyibah.jpg")" alt="default" />
        </div>
        <div class="row">
            <div class="col-sm-2" style="margin-left:50px;">
                <a href="https://www.facebook.com/profile.php?id=100008276357950" class="ace-icon fa fa-facebook bigger-150"></a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.linkedin.com/in/tayyibah-alau-d-din-852799128" class="ace-icon fa fa-linkedin"></a>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="textOverImage" data-text="Zarbab Mushtaq
 BSEF14A043
 Front End Developer and QAE
 PUCIT (OC)">
            <img class="image" style="height:180px" src="@Url.Content("~/images/team/zarbab.png")" alt="default" />
        </div>
        <div class="row">
            <div class="col-sm-2" style="margin-left:50px;">
                <a href="https://www.facebook.com/zarbab.cheema" class="ace-icon fa fa-facebook bigger-150"></a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.linkedin.com/in/zarbab-cheema-a63621140" class="ace-icon fa fa-linkedin"></a>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="textOverImage" data-text="Zainab Tayyaba
BSEF14A015
Developer & QAE
PUCIT (OC)">
            <img class="image" style="height:180px" src="@Url.Content("~/images/team/tayyaba.jpg")" alt="default" />
        </div>
        <div class="row">
            <div class="col-sm-2" style="margin-left:50px;">
                <a href="https://www.facebook.com/profile.php?id=100010648930368&ref=br_rs" class="ace-icon fa fa-facebook bigger-150"></a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.linkedin.com/in/zainab-tayyaba-576b3a15b"" class="ace-icon fa fa-linkedin"></a>
            </div>
        </div>
    </div>
</div>


<!--Dev Team (2016-2017)-->
<div class="row">
    <h1 class="titleStyle">Dev Team (2016-2017)</h1>
    <div class="col-sm-2" style="margin-left:130px;">
        <div class="textOverImage" data-text="Sabah Fiaz
 BITF13M003
 Developer & Team Lead
 PUCIT (OC)">
            <img class="image" src="@Url.Content("~/images/team/saba.jpg")" />
        </div>
        <div class="row">
            <div class="col-sm-2" style="margin-left:50px;">
                <a href="https://www.facebook.com/see.sabah04" class="ace-icon fa fa-facebook bigger-150"></a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.linkedin.com" class="ace-icon fa fa-linkedin"></a>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="textOverImage" data-text="Aniqa Khalid
 BITF13M028
 Front End Developer and QAE
 PUCIT (OC)">
            <img class="image" style="height:180px" src="@Url.Content("~/images/team/aniqa.jpg")" alt="default" />
        </div>
        <div class="row">
            <div class="col-sm-2" style="margin-left:50px;">
                <a href="https://www.facebook.com/aniqa.khalid.182" class="ace-icon fa fa-facebook bigger-150"></a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.linkedin.com" class="ace-icon fa fa-linkedin"></a>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="textOverImage" data-text="Tooba Nasim
 BITF13M040
 Front End Developer and QAE
 PUCIT (OC)">
            <img class="image" style="height:180px" src="@Url.Content("~/images/team/tooba.jpg")" alt="default" />
        </div>
        <div class="row">
            <div class="col-sm-2" style="margin-left:50px;">
                <a href="https://www.facebook.com/tooba.nasim.7" class="ace-icon fa fa-facebook bigger-150"></a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.linkedin.com" class="ace-icon fa fa-linkedin"></a>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="textOverImage" data-text="Amina Ameen
BITF13M044
Web Developer
PUCIT (OC)">
            <img class="image" style="height:180px" src="@Url.Content("~/images/team/amina.jpg")" alt="default" />
        </div>
        <div class="row">
            <div class="col-sm-2" style="margin-left:50px;">
                <a href="https://www.facebook.com/amina.ameen.121" class="ace-icon fa fa-facebook bigger-150"></a>
            </div>
            <div class="col-sm-2">
                <a href="https://www.linkedin.com" class="ace-icon fa fa-linkedin"></a>
            </div>
        </div>

    </div>
    <div class="col-sm-2">
        <div class="textOverImage" data-text="Maryam Bashir
BITF13M005
Web Developer
PUCIT (OC)">
            <img class="image" style="height:180px" src="@Url.Content("~/images/team/maryam.jpg")" alt="default" />
            <div class="row">
                <div class="col-sm-2" style="margin-left:50px;">
                    <a href="https://www.facebook.com/maryam.bashir95" class="ace-icon fa fa-facebook bigger-150"></a>
                </div>
                <div class="col-sm-2">
                    <a href="https://www.linkedin.com" class="ace-icon fa fa-linkedin"></a>
                </div>
            </div>
        </div>
    </div>

</div>
<hr />

<!--Client View-->
<div class="row">
    <h1 class="titleStyle">Client</h1>
    <div style="margin-left:550px">
        <div class="col-sm-2">
            <div class="ClienttextOverImage"  data-text="Mehwish Khurshid
Student Affairs Coordinator
PUCIT (OC)">
                <img class="ClientImage" src="@Url.Content("~/images/team/mehwish.png")" alt="default" />
            </div>
            <div class="row">
                <div class="col-sm-2" style="margin-left:75px;">
                    <a href="https://www.facebook.com/mehwish.khurshid" class="ace-icon fa fa-facebook bigger-150"></a>
                </div>
                <div class="col-sm-2">
                    <a href="https://www.linkedin.com" class="ace-icon fa fa-linkedin"></a>
                </div>
            </div>
        </div>

    </div>
   

</div>
<hr />

<!--Supervisors Div-->
<div class="row">
    <h1 class="titleStyle">Supervisors</h1>
    <h3 class="titleStyle">Artificial Intelligence and Multidisciplinary (AIM) Research Laboratory</h3>
    <div class="col-sm-3" style="margin-left:200px;">
            <div class="ClienttextOverImage" data-text="Syed Waqar Ul Qounain
Sr. Supervisor
Assistant Professor
PUCIT (OC)">
                <img class="ClientImage" src="@Url.Content("~/images/team/waqar.jpg")" alt="default" />
            </div>
            <div class="row">
                <div class="col-sm-2" style="margin-left:75px;">
                    <a href="https://www.facebook.com/swjaffry" class="ace-icon fa fa-facebook bigger-150"></a>
                </div>
                <div class="col-sm-2">
                    <a href="https://pk.linkedin.com/in/syed-waqar-jaffry-61937bb" class="ace-icon fa fa-linkedin"></a>
                </div>
            </div>
        </div>
    <div class="col-sm-3">
        <div class="ClienttextOverImage" data-text="Mian Mubashar
Sr. Supervisor
Assistant Professor
PUCIT (OC)">
            <img class="ClientImage" src="@Url.Content("~/images/team/mubasher.jpg")" alt="default" />
        </div>
        <div class="row">
            <div class="col-sm-2" style="margin-left:75px;">
                <a href="https://www.facebook.com/mian.muhammad.mubasher.pk" class="ace-icon fa fa-facebook bigger-150"></a>
            </div>
            <div class="col-sm-2">
                <a href="https://pk.linkedin.com/in/mianmuhammadmubasher" class="ace-icon fa fa-linkedin"></a>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="ClienttextOverImage" data-text="Bilal Shahzad
Supervisor
Visting Lecturer
PUCIT (OC)">
            <img class="ClientImage" src="@Url.Content("~/images/team/bilal.jpg")" alt="default" />
        </div>
        <div class="row">
            <div class="col-sm-2" style="margin-left:75px;">
                <a href="https://www.facebook.com/bilal.shahzad139" class="ace-icon fa fa-facebook bigger-150"></a>
            </div>
            <div class="col-sm-2">
                <a href="https://pk.linkedin.com/in/bilalshahzad139" class="ace-icon fa fa-linkedin"></a>
            </div>
        </div>
    </div>
</div>
<hr />


